.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bread {
  width: 300px;
  height: 50px;
  background-color: #f8b400;
  color: white;
  border-radius: 20px;
  margin: 5px 0;
  text-align: center;
  font-size: large;
}

.filling {
  width: 280px;
  height: 30px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.filling.tomato {
  background-color: red;
}

.filling.meat {
  background-color: brown;
}

.filling.lettuce {
  background-color: green;
}

.filling:hover {
  cursor: pointer;
  box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.5);
}

.top-bread {
  border-radius: 20px 20px 0 0;
}

.bottom-bread {
  border-radius: 0 0 20px 20px;
}

.filling-picker {
  position: absolute;
  right: 20%;
  top: 40%;
}

.filling-picker button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filling-picker button:hover {
  opacity: 0.8;
}

.filling-picker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 20px;
}

.filling-picker img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.filling-picker img:hover {
  transform: scale(1.1);
}

.filling-picker img:nth-child(3) {
  grid-column: span 2;
}